<div class="author">
  <div class="author-contacts large-contacts">
    <a href="mailto:{{ site.author.email }}" title="Email">
      <img src="/assets/img/gmail.svg.png" alt="Gmail" class="contact-icon" style="width:2.2rem;height:2.2rem;" />
    </a>
    <a href="https://github.com/{{ site.author.github }}" title="GitHub" target="_blank">
      <img src="/assets/img/github.svg.png" alt="GitHub" class="contact-icon" style="width:2.2rem;height:2.2rem;" />
    </a>
    <a href="https://www.linkedin.com/in/viet-hoang-nghiem-45371a201/" title="LinkedIn" target="_blank">
      <img src="/assets/img/linkedin.svg.png" alt="LinkedIn" class="contact-icon" style="width:2.2rem;height:2.2rem;" />
    </a>
  </div>
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
</div>
